<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% for annonce in annonce %}
<h1>{{ a.titre }}</h1>
<div>
    <ul>
        <li><b> Id : </b>{{ annonce.id }}</li>
        <li><b>Prix : </b>{{ annonce.prix }}</li>
        <li><b>Description : </b>{{ annonce.descriptif }}</li>
        <li><b>Date : </b>{{ annonce.date_online }}</li>
        <li><b>Ville : </b>{{ annonce.ville }}</li>
        <li><b>Mail : </b>{{ annonce.mail_a }}</li>
        <li><b>Tel : </b>{{ annonce.tel_a }}</li>
    </ul>
</div>
{% endfor %}
</body>
</html>